<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1> word count</h1>

<a href="{% url 'about' %}">
    <button>Start again</button>
</a>

<form action="{% url 'count' %}" style="margin:12px 0;">
    <textarea cols="40", rows="10", name="fulltext"></textarea>
    <br />

    <input type="submit", value="count!"/>
</form>


</body>
</html>